.app-header-title {
    margin: 40px;
    font-size: 3em;
    color: white;
    font-family: Times new Roman, serif;
    font-style: italic;
    font-weight: bold;
}

.router-link {
    margin-left: 2em;
    font-size: larger;
    padding-top: 0.5em;
}
